.my-box {
    background: whitesmoke;
    border-style:solid;
    border-color: Gainsboro;
  }
.my-box-right {
    text-align: left;
    margin-left: 1.2em;
    float:right;
}

.my-box-left {
    text-align: left;
    margin-right: 1.2em;
    float:left;
}

.my-box-on {
    margin-left: 1.25em;
    margin-right: 1.25em;
}

.my-box-off {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.my-box-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-box-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-box-text {
    padding: 0.4em;
    text-indent: 0px;
    font-style: italic;
    font-size: smaller;
}