<!-- **** 2columns responsive max-width 600px ****
.inner can be split into two parts using --split-here--.
The first part will be displayed in the left column, and the second part in the right column.
The background color of the two columns can be set using col-left and col-right.

clearfix is used to clear the floats.
   -->

   {{- $content := chomp .Inner -}}
   {{- $children := split $content "--split-here--" -}}
   
   <div class="row clearfix">
       <div class="col-md-6 py-2 px-3" style="background-color:{{ .Get "col-left" }};">
           {{- if gt (len $children) 0 -}}
               {{- index $children 0 | markdownify -}}
           {{- else -}}
               <p>Fehler: Kein Inhalt gefunden</p>
           {{- end -}}
       </div>
       <div class="col-md-6 py-2 px-3 border-start border-primary border-md-start" style="background-color:{{ .Get "col-right" }};">
           {{- if gt (len $children) 1 -}}
               {{- index $children 1 | markdownify -}}
           {{- else -}}
               <p>Fehler: Kein zweiter Bereich gefunden</p>
           {{- end -}}
       </div>
   </div>

