<!-- **** 3columns responsive max-width 600px ****
.inner can be split into three parts using --split-here--.
The first part will be displayed in the left column, the second part in the middle column,
and the third part in the right column.
The background color of the two columns can be set using col-left, col-mid and col-right.

clearfix is used to clear the floats.
   -->


    {{- $children := split .Inner "--split-here--" -}}
    <div class="row clearfix">
      <div class="my-3column p-2" style="background-color:{{.Get "col-left"}};">
        {{- index $children 0 | markdownify }}
      </div>
      <div class="my-3column p-2" style="background-color:{{.Get "col-mid"}};">
        {{- index $children 1 | markdownify }}
      </div>
      <div class="my-3column p-2" style="background-color:{{.Get "col-right"}};">
        {{- index $children 2 | markdownify }}</p>
      </div>
  </div>

