{{- $classes := slice "p-3" "my-3" -}}
{{- $container := slice "textbox-container mb-2" -}}

{{- $align := .Get "align" | default "center" -}}
{{- $width := .Get "width" | default "100%" -}}

{{- $textclass := .Get "textclass" -}}
{{- $allowedTextClasses := slice "lead" "fs-1" "fs-2" "fs-3" "fs-4" "fs-5" "fs-6" "display-1" "display-2" "display-3" "display-4" "display-5" "display-6" -}}
{{- if in $allowedTextClasses $textclass -}}
    {{- $classes = $classes | append $textclass -}}
{{- end -}}

{{- if .Get "indent" -}}
    {{- $classes = $classes | append "mx-4" -}}
{{- end -}}
{{- if .Get "rounded" -}}
    {{- $classes = $classes | append "rounded" -}}
{{- end -}}
{{- if .Get "border" -}}
    {{- $classes = $classes | append "border" -}}
    {{- $borderColor := .Get "border-color" | default "primary" -}}
    {{- $classes = $classes | append (printf "border-%s" $borderColor) -}}
{{- end -}}
{{- $bgColor := .Get "background" | default "light" -}}

{{- $bgMap := dict
    "light"       (slice "bg-body-tertiary" "text-body")
    "secondary"   (slice "bg-body-secondary" "text-body")
    "primary"     (slice "bg-primary-subtle" "text-primary-emphasis")
    "transparent" (slice "bg-transparent" "text-body")
-}}

{{- $mapped := index $bgMap $bgColor -}}

{{- if ne $mapped nil -}}
    {{- range $class := $mapped -}}
        {{- $classes = $classes | append $class -}}
    {{- end -}}
{{- else -}}
    {{- $classes = $classes | append (printf "text-bg-%s" $bgColor) -}}
{{- end -}}

{{- if eq $align "indent" -}}
    {{- $classes = $classes | append "mx-4" -}}
{{- else if eq $align "left" -}}
    {{- $container = $container | append "float-start me-3" -}}
{{- else if eq $align "right" -}}
    {{- $container = $container | append "float-end ms-3" -}}
{{- else -}}
    {{- $container = $container | append "mx-auto" -}}
{{- end -}}

<div class="{{ delimit $container " " }}" style="width: {{ $width }};">
    <div class="{{ delimit $classes " " }}">
        {{ .Inner | markdownify }}
    </div>
</div>
