{{- $relativePath := .Get 0 -}}
{{- $fullPath := "" -}}
{{- if strings.HasPrefix $relativePath "content/" -}}
    {{- $fullPath = $relativePath -}}
{{- else -}}
    {{- $basePath := .Page.File.Dir -}}
    {{- $fullPath = path.Join $basePath $relativePath -}}
{{- end -}}
{{- if (fileExists $fullPath) -}}
    {{- $fileContent := readFile $fullPath -}}
    {{- $rendered := $fileContent | markdownify -}}
    {{- $rendered | safeHTML -}}
{{- else -}}
    {{- $alert := printf "{{%% bs/alert style=danger %%}}Die Datei <strong>%s</strong> wurde nicht gefunden.{{%% /bs/alert %%}}" $relativePath -}}
    {{- .Page.RenderString $alert | safeHTML -}}
{{- end -}}