<!-- if no text is given, the Domain of the url will be used
if no text is given and udate is given, the Domain and udate will be used -->

{{ $url := .Get "url" | default (.Page.Params.source) }}
{{ $udate := .Get "udate" | default (.Page.Params.sdate) }}

{{ if not (hasPrefix $url "http://") }}
  {{ if not (hasPrefix $url "https://") }}
    {{ $url = printf "https://%s" $url }}
  {{ end }}
{{ end }}

{{ $domain := replaceRE "^https?://([^/]+)/.*" "$1" $url }}
{{ $text := .Get "text" | default (printf "%s%s" $domain (cond $udate (printf ", %s" $udate) "")) }}

<i><a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
  {{ $text | safeHTML }}
</a></i>