{{- /* --- Initiale Parameter --- */ -}}
{{- $src := .Get "src" -}}
{{- $poster := .Get "poster" -}}
{{- $motion := (.Get "motion" | lower) -}}
{{- $align := .Get "align" -}}
{{- $width := .Get "width" -}}
{{- $rounded := (.Get "rounded" | lower) -}}
{{- $col := .Get "col" -}}
{{- $preload := .Get "preload" -}}

{{- /* --- Pfad und Default-Werte aus media-Ebene --- */ -}}
{{- $media := .Page.Params.media -}}
{{- $path := $media.path | default "" -}}

{{- $align = $align | default $media.align -}}
{{- $width = $width | default $media.width -}}
{{- $rounded = $rounded | default ($media.rounded | lower | default "false") -}}
{{- $col = $col | default $media.col -}}
{{- $motion = $motion | default ($media.motion | lower | default "false") -}}

{{- /* --- Sicherstellen, dass Default-Werte gesetzt sind --- */ -}}
{{- $align = $align | default "center" -}}
{{- $width = $width | default "100%" -}}
{{- $motion = $motion | default "false" -}}

{{- /* --- src und poster mit Pfad kombinieren, wenn relativ und Pfad existiert --- */ -}}
{{- if and $src (not (hasPrefix $src "http")) (not (hasPrefix $src "/")) (ne $path "") -}}
  {{- $src = printf "%s%s" $path $src -}}
{{- end -}}

{{- /* --- CSS-Klassen vorbereiten --- */ -}}
{{- $container := slice "media-container" "mb-2" -}}
{{- $caption := slice "caption" "border" "p-2" "bg-body-secondary" "text-body-secondary" "fst-italic" -}}
{{- $mediaClass := slice "media-fluid" -}}

{{- if eq (lower $rounded) "true" }}
  {{- if .Inner }}
    {{- $mediaClass = $mediaClass | append "rounded-top" -}}
    {{- $caption = $caption | append "rounded-bottom" -}}
  {{- else }}
    {{- $mediaClass = $mediaClass | append "rounded" -}}
  {{- end }}
{{- end }}

{{- $indentClass := slice -}}
{{- if eq $align "indent" -}}
  {{- $indentClass = $indentClass | append "mx-4" -}}
  {{- $caption = $caption | append "mx-4" -}}
{{- end -}}

{{- if eq $align "left" }}
  {{- $container = $container | append "float-start me-3" -}}
{{- else if eq $align "right" }}
  {{- $container = $container | append "float-end ms-3" -}}
{{- else }}
  {{- $container = $container | append "mx-auto" -}}
{{- end }}

{{- /* --- Ausgabe starten --- */ -}}
<div class="{{ delimit $container " " }}" style="width: {{ $width }};">
  <div class="{{ delimit $indentClass " " }}">
    {{- if (or (hasSuffix $src ".mp4") (hasSuffix $src ".webm") (hasSuffix $src ".mkv")) -}}
      <video
        src="{{ $src }}" 
        class="{{ delimit $mediaClass " " }}" 
        style="width: 100%; display: block; margin: 0;" 
        {{- if $poster -}}
        {{- /* Nur prefixen, wenn poster nicht mit "http" oder "/" beginnt */ -}}
            {{- if and (not (or (hasPrefix $poster "http") (hasPrefix $poster "/"))) (ne $path "") -}}
                {{- $poster = printf "%s%s" $path $poster -}}
                poster="{{ $poster }}"
            {{- end -}}
        {{- end -}}
        {{- if $preload }} preload="{{ $preload }}"{{ end }}
        {{ if eq $motion "true" }} controls autoplay muted loop {{ else }} controls {{ end }}>
        onloadeddata="if (window.msnry) msnry.layout()"
      >
      </video>
    {{- else -}}
      <img src="{{ $src }}" class="{{ delimit $mediaClass " " }}" alt="{{ .Inner | plainify }}" style="width: 100%; display: block; margin: 0;">
    {{- end }}
  </div>

  {{- if .Inner }}
    <div class="{{ delimit $caption " " }}">
      {{ .Inner | markdownify }}
    </div>
  {{- end }}
</div>

{{- /* --- Optionaler Trenner bei "col" --- */ -}}
{{- if $col }}
  <hr class="border-top border-primary opacity-50">
{{- end }}
